<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Number Guess</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Number Guess!", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Number Guess</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


    <!-- code that calls our REST service is placed here. -->
    <script>
        // inline scripts are discouraged, but for the purpose of this project we will keep JS logic here.

        // functions for calling the services
        function callSecretNumberEndpoint() {
            var xhttp = new XMLHttpRequest();

            // get the values from our form fields
            var lowerValue = document.secretNumForm.lower.value;
            var upperValue = document.secretNumForm.upper.value;

            // set up callback function for when http status is successful
            xhttp.onreadystatechange = function () {
                if (xhttp.readyState == 4 && xhttp.status == 200) {
                    // we are setting the value here in a hidden field so we can retrieve it when we run the callNumberGuessEndpoint function.
                    document.secretNumForm.storedSecretNum.value = xhttp.responseText;
                }
            }

            // build the string with the query strings sent
            var urlString = "http://localhost:58921/NumberGuessService.svc/secretNumber?lower="+lowerValue+"&upper="+upperValue

            // pass the query string to xhttp with a content-type of json, and send the request
            xhttp.open("GET", urlString);
            xhttp.setRequestHeader("Content-type", "application/json");
            xhttp.send();
        }

        function callNumberGuessEndpoint() {
            // define the http request and some variables to get certain elements/items from forms
            var xhttp = new XMLHttpRequest();
            var totalAttemptsElement = document.getElementById("totalAttempts");
            var guessResultElement = document.getElementById("guessResult");
            var numberGuess = document.numberGuessForm.numberGuess.value;
            var secretNumber = document.secretNumForm.storedSecretNum.value;

            // callback function for when http call returns and is successful
            xhttp.onreadystatechange = function () {
                if (xhttp.readyState == 4 && xhttp.status == 200) {
                    // count the attempt only when the call to the service is successful.
                    totalAttemptsElement.innerHTML++;
                    totalAttemptsElement.innerHTML = totalAttemptsElement.innerHTML;

                    // set the result tag to the appropriate result from the service
                    guessResultElement.innerHTML = xhttp.responseText;
                }
            }

            // build the string with the query strings sent
            var urlString = "http://localhost:58921/NumberGuessService.svc/checkNumber?userNum=" + numberGuess + "&secretNum=" + secretNumber;

            // send the request as a GET http type
            xhttp.open("GET", urlString);
            xhttp.setRequestHeader("Content-type", "application/json");
            xhttp.send();
        }
    </script>

</body>
</html>
